.content-header-link-placeholder {
  opacity: 0;
  margin-left: -20px;
  padding-right: 4px;
}

.content-header-link-placeholder:hover {
  opacity: 100;
}

.content-header:hover .content-header-link-placeholder {
  opacity: 100;
}

.octicon {
  display: inline;
  vertical-align: middle;
  overflow: visible;
}

article sup {
  @apply pl-1;
}
